.container {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

.detail > h2 {
	margin-bottom: 2rem;
}

.container > div > table,tr,th,td {
	border: 1px solid black;
	padding: 0.5rem 2rem;
	background: linear-gradient(217deg, rgba(0, 11, 73, 0.315), rgba(41, 6, 73, 0.377) 90%);
	color: white;
}

.flag {
	border: 1px solid black;
	margin-top: 4rem;
	max-width: 30rem;
	min-width: 25rem;
	max-height: 20rem;
	min-height: 15rem;
}

.toRight {
	text-align: end;
}

.name {
	padding: 0.5rem 4rem;
}

.activityTable > table {
	margin-top: 2rem;
}