.container {
	margin: 0rem 3rem;
	width: 16rem;
	transition: transform 500ms;
}

.flag {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 16rem;
	height: 16rem;
	border-radius: 50%;
	box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
}

.container:hover {
	transform: scale(1.05);
}

.container:hover > .info {
	visibility: visible;
}

.info {
	visibility: hidden;
	font-size: larger;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0.2rem;
}